absl-py
annotated-types
astunparse
audioread
beautifulsoup4
blis
breadability
bs4
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
coloredlogs
confection
contourpy
cycler
cymem
decorator
diffusers
docopt
easyocr
editdistance
fasttext
faster-whisper
filelock
flatbuffers
fonttools
fsspec
future
gast
gensim
geocoder
google-auth
google-auth-oauthlib
google-pasta
GPUtil
grpcio
gTTS
h5py
huggingface-hub
humanfriendly
HyperPyYAML
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
Jinja2
joblib
keras
kiwisolver
langcodes
langdetect
lazy_loader
libclang
librosa
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
MouseInfo
moviepy
mpmath
msgpack
murmurhash
networkx
ninja
nltk
noisereduce
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnxruntime
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
path
pillow
pkg_resources
platformdirs
pooch
praw
prawcore
preshed
proglog
protobuf
psutil
py-stackexchange
pyannote.audio
pyasn1
pyasn1-modules
PyAudio
PyAutoGUI
pybind11
pyclipper
pycountry
pycparser
pydantic
pydantic-core
pydub
pygame
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
pytesseract
python-bidi
python-dateutil
python3-xlib
pyttsx3
pytweening
pytz
PyWavelets
PyYAML
ratelim
regex
requests
requests-oauthlib
resampy
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
shapely
six
smart-open
sounddevice
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
speechbrain
SpeechRecognition
srsly
sumy
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tifffile
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typer
tzdata
update-checker
urllib3
wasabi
weasel
webrtcvad
websocket-client
Werkzeug
wikipedia
wrapt
zipp

